*{
  padding: 0;
  margin: 0;
}
.header{
  background-color:rgb(6, 6, 83);
  position: sticky;
  top:0px;
  z-index: 2;
}
.navbar {
 display: flex;
 justify-content: center;
 flex-wrap: wrap; 
}
.navbar>.links{
  color: aliceblue;
  text-decoration: none;
  padding:10px;
  font-size: 20px;
}
.marquetext{
  background-color: aquamarine;
  margin-top: 10px;
  padding:5px 0px;
  color: red;
}
marquee{
  display: inline;
}
.maincontainer{
  display: flex;
  justify-content: space-between;
  
  }
.leftlinks{
  width: 24vw;
  border:0.8px solid rgb(217, 213, 213);
  text-decoration: none;
  border-radius: 5px 5px 0px 0px;

}
.Home{
  background-color: rgb(16, 16, 159);
  border-radius: 5px 5px 0px 0px;
  padding: 15px 10px;
  color: white;
}
.listitem:nth-child(even){
  background-color: aquamarine;
  padding: 15px 10px;
  cursor: pointer;
}
.listitem:nth-child(odd){
  background-color: white;
  padding: 15px 10px;
  cursor: pointer;
}
iframe{
  width:49vw;
height: 70vh;
}
.listitemright{
  padding: 10px 10px;
  cursor: pointer;
}
.administrator{
    background-color: aquamarine;
   padding: 15px 10px;
 text-align: center;
  
}
.rightcontainer{
  width: 24vw;
  border:0.8px solid rgb(217, 213, 213);
  text-decoration: none;
  border-radius: 5px 5px 0px 0px;

}
marquee{
  display: inline;
}
.footer{
  display:flex;
  justify-content:space-between;
  padding: 10px;
  background-color:whitesmoke;
  position: sticky;
  bottom: 0px;
}
 .tabs{
  display: none;
 }
/*Now we will try to make the code responsive */
@media  screen and (max-width:600px) {
  .navbar{
    flex-direction: column;
    align-items: center;
  }
  .navbar>.links{
    color: aliceblue;
    text-decoration: none;
    font-size: 10px;
  }
 .tabs{
  display: inline;
 }
 .maincontainer{
  flex-direction: column;
 }
 .leftlinks,.rightcontainer, .center-container{
  width: 95vw;
 }
 .footer{
  flex-direction: column;
  align-items: center;
 }
}